.Dictionary .input-group {
  width: 75%;
  margin: 10px auto;
}

.Dictionary h1 {
  font-size: 25px;
  text-align: center;
  font-family: "New Tegomin", serif;
  font-weight: 900;
  font-style: italic;
}

section {
  background-image: linear-gradient(to top, #ebf1f1 0%, #eae5f0 100%);
  color: black;
  max-width: 750px;
  padding: 20px;
  border-radius: 15px 35px;
  display: block;
  margin: 15px auto;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
