.gitHubLink,
.linkedInLink {
  text-decoration: none;
  font-weight: 450;
  color: #1d0871;
}

footer {
  margin-top: calc(5%);
  width: 100%;
  text-align: center;
}

.gitHubLink:hover,
.linkedInLink:hover {
  color: aliceblue;
  font-weight: 550;
  text-decoration: none;
  transition: all 10ms ease-in-out;
}
